.profile .profile-cover img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin-top: 3rem;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.profile .profile-cover {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.profile {}

.profile-form .profile-form_avatar {
    width: 300px;
    height: 300px;
    border: 5px solid white;
    border-radius: 50%;
    object-fit: cover;
    position: relative;

}

.profile-form .profile-form_avatar .avatar {
    width: 300px;
    height: 300px;
    border: 5px solid white;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: -50px;
    left: 50px;
}

.profile .profile-form_avatar {
    /* position: absolute;
    bottom: 50px;
    left: 100px; */
}

.profile-form {
    width: 100%;
    height: 100vh;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: white;
}

.profile-form_avatar .profile-form_update_avatar {
    background: #e4e6eb;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 28px;
    line-height: 55px;
    position: absolute;
    bottom: 80px;
    right: -50px;

}

.profile-form .title {
   margin: 2rem 1rem;
}
.profile-form .title h1{
    font-size: 30px;
    font-weight: 800;
    margin: 0;
 }
 .profile-form .title h4{
    font-size: 18px;
    font-weight: 500;
    color: #65676b;
 }

@media only screen and (min-width: 1920px) {
    .profile-page {
        max-width: 1440px;
        margin: 0 auto;
    }

    .profile-form {
        max-width: 1440px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1919px) {
    .profile-page {
        width: 100%;
        padding: 0 3rem;
    }

    .profile-form {
        width: 100%;
        padding: 0 3rem;
    }

}

@media only screen and (min-width: 500px) and (max-width: 1279px) {
    .profile-page {
        width: 100%;
    }

    .profile-form {
        width: 100%;
        padding: 0 3rem;
    }
}

@media only screen and (max-width: 500px) {
    .profile-page {
        width: 100%;
    }

    .profile-form {
        width: 100%;
        padding: 0 3rem;
    }
}