.dashboard-item {
    width: 325px;
    height: 325px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: white;
    border-radius: 15px;
    transition: all 0.5s;
}

.dashboard-item:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 0.2s;
}

@media only screen and (min-width: 1920px) {
    .homepage-responsive {
        max-width: 1440px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1919px) {
    .dashboard-item {
        width: 280px;
        height: 280px;
    }
    .dashboard-item .title-app {
        width: 100px;
        height: 100px;
    }
    .dashboard-item .title-app img{
        width: 100px;
        height: 100px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 1279px) {
    .dashboard-item {
        width: 160px;
        height: 160px;
    }
    .dashboard-item .title-app {
        width: 60px;
        height: 60px;
    }
    .dashboard-item .title-app img{
        width: 60px;
        height: 60px;
    }
}

@media only screen and (max-width: 500px) {
    .dashboard-item {
        width: 95px;
        height: 95px;
    }
    .dashboard-item .title-app {
        width: 40px;
        height: 40px;
    }
    .dashboard-item .title-app img{
        width: 40px;
        height: 40px;
    }
}

