.focus .css-1rju81s-MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
.focus .css-1rju81s-MuiDataGrid-root .MuiDataGrid-cell:focus {
    outline: 0px;
}

.focus .css-1rju81s-MuiDataGrid-root .MuiDataGrid-columnHeader:focus-within,
.focus .css-1rju81s-MuiDataGrid-root .MuiDataGrid-cell:focus-within {
    outline: 0px;
    outline-width: 1px;
    outline-offset: -1px;
}
.css-1rju81s-MuiDataGrid-root .MuiDataGrid-columnSeparator--sideRight svg{
    opacity: 0;
}