body {
  font-family: 'Manrope', sans-serif !important;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {color: #374957;}
a:hover {color: #374957;}
